html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url("./assets/clear_day.jpg");
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
};
